@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=IBM+Plex+Serif:ital,wght@1,700&family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family:'Hubballi', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}