.countdown {
    display: flex;
    justify-content: end;
    width: 90%;
    color: white;
    margin-top: 0;
    align-items: center;
    text-shadow: 2px 2px 8px #000;
    
    
}

.timePortion {
    width: 5em;
    height: 4em;
}

h2 {
    font-size: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.h4 {
    font-size: 1em;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-content: center;

}

span {
    font-size: 2em;
}