.carousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1em 0 1em;
}
.pic{
    height: 30em;
    width: 35em;
}

.foto{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.btnicon{
    background-color: rgba(255, 255, 255, 0.877);
    border-radius:50px;
   border: 2px solid white;
   width: 2em;
   height: 2em;
}
.icon{
    width: 1em;
    height: 1em;
    margin: auto;
}
@media screen and (min-width: 280px) and (max-width: 700px) {
    .pic {
        height: 15em;
        width: 25em;
    }
}
